<div class="container-fluid">
    <div class="align-right" style="float:right">
        <form class="form-inline align-right xcol-4" ng-submit="submitNewRange()">
            <div class="form-group">
                <label class="control-label" for="deviceID">
                    <h4>Dispositivo</h4>
                </label>
                <select class="form-control" name="deviceID" ng-model="activeDevice" id="deviceID" ng-change="clearPlot()" ng-options="device as device.name for device in devices track by device.ID">
                </select>
            </div>
            <span>&nbsp;</span>
            <div class="form-group" ng-class="startDateStatus">
                <label class="control-label" for="startDateTime">
                    <h4>Inicio</h4>
                </label>
                <input type="datetime" class="form-control " id="startDateTime" name="startDateTime" ng-model="startDateTime" placeholder="dd-mm-yyyy hh:mm:ss">
            </div>
            <span>&nbsp;</span>
            <div class="form-group" ng-class="endDateStatus">
                <label class="control-label" for="endDateTime">
                    <h4>Fin</h4>
                </label>
                <input type="datetime" class="form-control " id="endDateTime" name="endDateTime" ng-model="endDateTime" placeholder="dd-mm-yyyy hh:mm:ss">
            </div>
            <span>&nbsp;</span>
            <div class=form-group>
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;Filtrar</button>
            </div>
            <span>&nbsp;</span>

        </form>
        <form class="form-inline align-right xcol-4" ng-submit="startLive()">
            <div class=form-group>
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-play"></i>&nbsp;Directo</button>
            </div>
        </form>
    </div>



    <highchart id="voltCurChart " config="currentVoltageChart "></highchart>
    <highchart id="powerChart " config="powerChart "></highchart>
</div>