<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{account.username}}&nbsp;</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted">Perfil</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Registrado </strong></span>&nbsp;{{account.regTime}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Nombre real</strong></span> &nbsp;{{(account.realName.length + account.realSurname.length) ? account.realName + " " + account.realSurname: ""}}</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item text-muted">Actividad <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Dispositivos</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Cortes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Informes</strong></span> 37</li>
            </ul>
        </div>

        <!--tabs-->
        <div class="col-sm-9">
            <!--tab menu-->
            <ul class="nav nav-tabs" id="myTab">
                <li class="active cursor-hand">
                    <a data-target="#devices" data-toggle="tab">Dispositivos</a>
                </li>
                <li class="cursor-hand">
                    <a data-target="#blackouts" data-toggle="tab">Cortes de suministro</a>
                </li>
                <li class="cursor-hand">
                    <a data-target="#settings" data-toggle="tab">Ajustes</a>
                </li>
            </ul>
            <!--tab contents-->
            <div class="tab-content">
                <div class="tab-pane active" id="devices">
                    <div class="table-responsive">
                        <form class="form-inline" ng-submit="submitDevice()" id="deviceForm">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody id="items">
                                    <tr ng-repeat="dev in account.devices">
                                        <td>{{$index+1}}</td>
                                        <td>{{dev.ID}}</td>
                                        <td>{{dev.name}}</td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-sm btn-primary" type="submit"><i class=" glyphicon glyphicon-plus"></i></button>
                                        </td>
                                        <td>
                                            <label class="sr-only" for="devID">devID</label>
                                            <input type="text" class="form-control" id="devID" ng-model="devID" name="devID" placeholder="ID Dispositivo">
                                        </td>
                                        <td>
                                            <label class="sr-only" for="devName">devName</label>
                                            <input type="text" class="form-control" id="devName" name="devName" ng-model="devName" placeholder="Nombre">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
                    <!--/table-resp-->
                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="blackouts">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ID</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                <tr ng-repeat="blackout in blackouts">
                                    <td>{{$index+1}}</td>
                                    <td>{{blackout.ID}}</td>
                                    <td>{{blackout.startTime}}</td>
                                    <td>{{blackout.endTime}}</td>
                                    <td>
                                        <a target="_blank" href="{{'/user/'+account._id+'/certificate/'+blackout._id}}" class="glyphicon btn-lg nopadding glyphicon-download"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
                    <!--/table-resp-->
                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="settings">
                    <form class="form" id="registrationForm" ng-submit="submitData()">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Nombre</h4></label>
                                <input class="form-control" ng-model="first_name" id="first_name" placeholder="{{(account.realName.length) ? account.realName : 'Nombre'}}" title="Introduce tu nombre si tienes." type="text">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name">
                                    <h4>Apellidos</h4></label>
                                <input class="form-control" ng-model="last_name" id="last_name" placeholder="{{(account.realSurname.length) ? account.realSurname : 'Apellidos'}}" title="Introduce tus apellidos si tienes." type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="phone">
                                    <h4>Teléfono</h4></label>
                                <input class="form-control" ng-model="phone" id="phone" placeholder="{{(account.phone.length) ? account.phone : 'Teléfono'}}" title="Introduce tú teléfono si tienes." type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Email</h4></label>
                                <input class="form-control" ng-model="email" id="email" placeholder="{{(account.mail.length) ? account.mail : 'tu@email.com'}}" title="Introduce tu email." type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="location">
                                    <h4>Direcciónn</h4></label>
                                <input class="form-control" ng-model="location" id="location" placeholder="{{(account.location.length) ? account.location : 'Algún lugar'}}" title="Introduce tu dirección." type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Guardar</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->