/* app css stylesheet */


/*
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}*/

body {
    background-image: url('../img/NetAltLogo50a.png');
    background-repeat: no-repeat;
    background-position: 2em 5em;
}

.item > img {
    margin-left: 60%;
}

.image-panel {
    height: 100%;
    display: inline-block;
    text-align: center;
    padding: 1em;
}

.logo {
    max-height: 4em;
    display: inline-block;
}

img {
    margin-left: 60%;
}

.form-signin {
    width: 320px;
    align-content: center;
    margin: auto;
    padding: 1em;
}

.cursor-hand {
    cursor: pointer;
}

.table-responsive {
    overflow-x: hidden;
}

a {
    outline: 0;
}

a:hover,
a:active,
a:focus {
    /* styling for any way a link is about to be used */
    outline: 0;
}

body {
    padding-top: 55px;
}

.nopadding {
    padding: 0;
}

.align-right {
    text-align: right;
    display: inline-block;
}

select {
    background: url('https://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat right #FEFEFE;
}

a.navbar-brand-image {
    padding: 5px;
}

a.navbar-brand > img {
    height: 100%;
    width: auto;
}

.footer {
    min-height: 0;
}