<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 420px;
        width: auto;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="height: 420px">

        <div class="item active">
            <img src="/assets/img/carousel_01.jpg" alt="Datos">
            <div class="carousel-caption">
                <h3>Datos</h3>
                <p>Consulta de datos y graficos de consumo</p>
            </div>
        </div>

        <div class="item">
            <img src="/assets/img/carousel_02.jpg" alt="Ahorro">
            <div class="carousel-caption">
                <h3>Ahorro energetico</h3>
                <p>Estimacion del consumo con diferentes compañias</p>
            </div>
        </div>

        <div class="item">
            <img src="/assets/img/carousel_04.jpg" alt="NetAlt">
            <div class="carousel-caption">
                <h3>NetAlt</h3>
                <p>Informacion acerca de NetAlt</p>
            </div>
        </div>

    </div>
    <script>
        $('#myCarousel').carousel({
            interval: 2500,
            cycle: true
        });
    </script>
</div>