<form class="form-signin" action="/user/register" method="post">
    <h2 class="form-signin-heading">Regístrese</h2>
    <label for="username" class="sr-only"></label>
    <input name="username" id="username" class="form-control" placeholder="Nombre de usuario" required="" autofocus="" type="text">
    <br>
    <label for="password" class="sr-only">Contraseña</label>
    <input name="password" id="password" class="form-control" placeholder="Password" required="" type="password">
    <br>
    <!--
    <div class="checkbox">
<label>
    <input value="remember-me" type="checkbox"> Remember me
</label>
</div>
-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
</form>