<div class="container" style="padding:  1em 0 ">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Aire Acondicionado
        </a>
      </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p class="lead">EL AIRE ACONDICIONADO PUEDE SUPONER HASTA EL 10% DEL CONSUMO TOTAL DE ENERGÍA DEL HOGAR</p>
                    <ul>
                        <li>
                            <span>Desconecta el aire acondicionado cuando no haya nadie en casa</span> o en la habitación que está refrigerando: pocos minutos son suficientes para obtener el frío deseado.</li>
                        <li>
                            <span>Instala un termostato</span> si tu aparato de aire acondicionado no lo tiene incorporado, o si no proporciona información precisa respecto a los grados de temperatura: te permitirá ahorrar energía y mejorar tu bienestar.</li>
                        <li>Instala el termostato del acondicionador lo más <span>lejos posible de las fuentes de calor</span> (el sol, lámparas, etc.).</li>

                        <li>Una <span>temperatura de 26ºC es confortable</span>, nuestro cuerpo no necesita una temperatura más baja para experimentar una sensación de comodidad. Por cada grado menos de temperatura, el consumo de energía en aire acondicionado aumenta entre un 4 y un 6%.</li>

                        <li>Al encender el aire, no ajustes el termostato a una temperatura más baja de lo normal, el aire acondicionado no funcionará con mayor potencia ni enfriará la casa más rápido.</li>

                        <li>Mantén limpios los filtros. Ahorrarás energía y prolongarás la vida útil del aparato.</li>

                        <li>
                            <span>Instalando toldos, cerrando las persianas</span>, evitando la entrada de aire caliente en el interior de la vivienda y aislando adecuadamente muros y techos, se consiguen ahorros de energía de hasta el 30% en el aire acondicionado.</li>

                        <li>
                            <span>Ventila la casa</span> cuando el aire de la calle es más fresco que el del interior (primeras horas de la mañana y durante la noche), abriendo ventanas en extremos opuestos de la vivienda.</li>

                        <li>Instala correctamente los aparatos de refrigeración. Para un funcionamiento óptimo, las máquinas de aire acondicionado tienen que tener una buena circulación de aire y estar protegidas del sol. Cuando se colocan en el tejado de un edificio, es conveniente ponerles una cobertura protectora.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Calefacción
                </a>
            </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p class="lead">LA CALEFACCIÓN PUEDE SUPONER EL 45% DE TU CONSUMO ENERGÉTICO TOTAL DEL HOGAR</p>
                    <ul>
                        <li>Si instalas <span>termostatos y válvulas termostáticas en los radiadores</span>, regulas la temperatura según tus necesidades y aumentas el ahorro. Una opción interesante es la instalación de termostatos inteligentes, que te permitirán programar tu calefacción estés donde estés, como el que te ofrecemos con el servicio <a class="enlace_texto" href="https://www.iberdrola.es/clientes/hogar/servicios/hogar-inteligente">Hogar Inteligente</a>.</li>

                        <li>Durante el día sube las persianas. <span>El sol proporcionará a tu hogar luz y calor gratis</span>. Al anochecer, cierra las cortinas y baja las persianas. Reducirás la pérdida de calor.</li>

                        <li>Si cambias las ventanas de tu vivienda, procura que las nuevas sean de <span>doble acristalamiento</span> o <span>doble ventana</span>, se consiguen ahorros de energía del 15% en el consumo de calefacción.</li>

                        <li>Instalando juntas o burletes en puertas y ventanas reducirás las fugas de calefacción en un 10%. Recuerda que <span>una vivienda bien aislada puede ahorrar hasta un 30% en gastos de calefacción</span> (y hasta un 50% en viviendas unifamiliares).</li>

                        <li>Para ventilar completamente una habitación 10 minutos son suficientes.</li>

                        <li>Una <span>temperatura entre 20º y 22º es suficiente para sentir confort</span>. Por cada grado de más, el consumo de calefacción aumenta entre un 6 y 8%.</li>

                        <li>Puedes ahorrar en calefacción si <span>bajas 5º la temperatura del termostato cuando te ausentes</span><span>horas</span> de la vivienda o si pones el termostato en la posición â€œeconomíaâ€.</li>
                        <li>
                            <span>No cubras los radiadores</span> ni pongas ningún objeto al lado porque se dificulta la adecuada difusión del calor.</li>
                        <li>Cada zona de nuestra vivienda necesita una temperatura de calefacción y es importante ajustarla.</li>
                        <li>Puedes ahorrar en calefacción si <span>bajas 3º o 4º la temperatura del termostato durante la noche</span>.</li>
                        <li>Ahorras si <span>purgas los radiadores</span> al comenzar la temporada de la calefacción porque el aire en su interior dificulta la transmisión de calor.</li>
                        <li>Ahorras si <span>mantienes la presión en el interior del circuito de calefacción</span> dentro de los límites definidos por el fabricante de la caldera.</li>
                        <li>
                            <span>Mantener la caldera individual en estado óptimo</span>, supone un ahorro de hasta el 22% del consumo de gas.</li>
                        <li>Las <span>calderas de condensación</span> consiguen ahorros de hasta un 35% de energía respecto de las convencionales.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Agua Caliente
                </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <ul>
                        <li>El <span>termo del agua caliente</span> debe instalarse dentro de la vivienda, tan cerca de los puntos de uso como sea posible (cocina, cuarto de baño).</li>
                        <li>
                            <span>Ducharse en lugar de bañarse</span> facilita un ahorro de hasta el 75% del consumo de energía y agua.</li>
                        <li>La <span>utilización de cabezales de ducha de bajo consumo, grifos monomando y reductores de caudal</span> en los grifos ahorra hasta un 50% del consumo de energía y agua.</li>
                        <li>Instalando una <span>válvula mezcladora en la salida del termo</span>, obtendrás el agua caliente a una temperatura constante, esto es, más comodidad y menos consumo.</li>
                        <li>Si regulas el termo por encima de los 60ºC, reducirás su duración y malgastarás energía.</li>
                        <li>Utilizando <span>termos acumuladores de agua caliente y contratando la tarifa con discriminación horaria</span>, ahorrará más del 50% en el coste de agua caliente.</li>
                        <li>Elegir <span>grifos reguladores de temperatura</span> con termostato en la ducha supone un ahorro entre un 4 y un 6%.</li>
                        <li>Puedes ahorrar en agua caliente si regulas la caldera para que suministre <span>agua a una temperatura en torno a 36º</span>.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Iluminación
                </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <p class="lead">LA ILUMINACIÓN PUEDE SUPONER EL 9% DE TU CONSUMO ELÉCTRICO</p>
                    <ul>
                        <li>Instala <span>interruptores divididos</span> para encender solamente las luces que sean necesarias.</li>
                        <li>En la medida de tus necesidades, sustituye tus bombillas tradicionales por lámparas led que pueden ahorrar&nbsp;más del 80% de energía eléctrica durante todo el tiempo de funcionamiento y, si son de calidad, duran más de 10.000 horas.</li>
                        -
                        <li>Siempre que sea posible, <span>aprovecha la iluminación natural</span>. Usa la luz cuando la necesites.</li>
                        -
                        <li>No dejes luces encendidas en habitaciones que no estés utilizando.</li>
                        -
                        <li>La utilización de <span>tubos fluorescentes</span> en las estancias en las que se necesite mayor cantidad de luz durante más tiempo, permite un ahorro de energía hasta del 80%, y tienen una duración entre 8 y 10 veces mayor que las bombillas incandescentes. Por su elevado consumo al encenderlas, vigila que no se estén encendiendo y apagando con frecuencia. Déjalas encendidas si van a estar menos de 20 minutos apagadas.</li>
                        <li>Si tienes<span> iluminación exterior en tu jardín</span>, controla su funcionamiento mediante un programador o interruptor crepuscular.</li>
                        <li>Utiliza <span>colores claros en paredes y techos</span> para aprovechar mejor la iluminación natural y reducir la artificial.</li>
                        <li>Si colocas <span>reguladores de intensidad luminosa</span> de tipo electrónico (no de reóstato) ahorras energía.</li>
                        <li>Ahorras energía con <span>detectores de presencia en garajes y zonas comunes</span> para que las luces funcionen automáticamente.</li>
                        <li>Si adaptas la iluminación a tus necesidades y usas <span>iluminación localizada</span>: ahorras y consigues ambientes más confortables.</li>
                        <li>
                            <span>Mantén limpias las lámparas y las tulipas</span>, aumentarás la luminosidad, sin aumentar la potencia.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Cocina
                </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <p class="lead">UNOS SENCILLOS CONSEJOS MIENTRAS COCINAS, TE AYUDARÃN A AHORRAR MUCHA ENERGÃA</p>
                    <ul>
                        <li>
                            <span>Al cocinar, aprovecha el calor residual</span>, apagando la placa de la cocina unos 5 minutos antes de retirar el recipiente (3 minutos en vitrocerámicas).</li>
                        <li>Elige un <span>recipiente de diámetro ligeramente mayor</span> que la zona de cocción y con fondo difusor de calor (salvo para cocinas de inducción), supone un ahorro en la energía consumida para cocinar del 20%.</li>
                        <li>Utiliza siempre que puedas <span>ollas a presión</span>. Consumen menos energía y ahorran mucho tiempo.</li>
                        <li>Regula la <span>temperatura del frigorífico y congelador</span> según las instrucciones del fabricante (por cada grado más de frío, el consumo de energía aumenta un 5%).</li>
                        <li>Instala el <span>frigorífico y congelador lo más lejos posible de los focos de calor</span> (sol, horno, radiadores, etc.).</li>
                        <li>
                            <span>No introduzcas nunca alimentos calientes en el frigorífico o en el congelador</span>. Dejándolos enfriar fuera, ahorrarás energía.</li>
                        <li>
                            <span>Mantén las puertas del frigorífico y congelador abiertas el menor tiempo posible</span> y comprueba que cierran correctamente. Procura que la pared trasera del frigorífico, esté bien limpia y ventilada.</li>
                        <li>Si vas a comprar un frigorífico, elige un <span>modelo eficiente y ecológico</span> de clase A+++ o A++ permiten ahorrar hasta un 70 % respecto a la media.</li>
                        <li>
                            <span>Eliminar del congelador la capa de hielo</span> antes de que alcance los 3 milímetros de espesor consigue ahorros energéticos de hasta el 30%.</li>
                        <li>
                            <span>Procura no abrir el horno innecesariamente</span>. Cada vez que lo haces puedes estar perdiendo hasta un 20% del calor acumulado.</li>
                        <li>Utiliza el <span>reloj programador avisador de tu horno</span>. Es un modo muy efectivo de controlar el consumo de energía.</li>
                        <li>Ahorras energía si aprovechas al máximo la <span>capacidad del horno</span> y cocinas el mayor número de alimentos de 1 vez.</li>
                        <li>No es necesario <span>precalentar el horno</span> para cocciones superiores a una hora, así ahorrarás energía.</li>
                        <li>
                            <span>Apaga el horno un poco antes de finalizar la cocción</span>: el calor residual será suficiente para acabar el proceso.</li>
                        <li>Los <span>hornos de convección</span> favorecen la distribución uniforme de calor, ahorran tiempo y gastan menos energía.</li>
                        <li>La utilización del <span>microondas</span> supone un ahorro energético entre un 60 y un 70% respecto de los hornos convencionales.</li>
                        <li>
                            <span>Lavar los platos con agua caliente consume un 40% más</span> de energía que lavar con lavavajillas.</li>
                        <li>
                            <span>Aprovecha al máximo la capacidad del lavavajillas</span> y selecciona el programa adecuado.</li>
                        <li>Si el lavavajillas no está lleno, puedes <span>prelavar con agua fría</span> ya que facilita el lavado posterior.</li>
                        <li>Ten cuidado al colocar los utensilios en el lavavajillas ya que el agua debe circular entre ellos con facilidad.</li>
                        <li>Usa los niveles de <span>sal y abrillantador</span> recomendados por el fabricante del lavavajillas.</li>
                        <li>Si vas a comprar un lavavajillas, elige un <span>modelo eficiente y ecológico</span> de clase A+++, permiten ahorrar más del 45% respecto de los de clase D.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
               <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                 Electrodomésticos
               </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <p class="lead">CON PEQUEÃ‘OS GESTOS, TAMBIÉN PUEDES AHORRAR MUCHA ENERGÃA</p>
                    <ul>
                        <li>Al poner la <span>lavadora</span>, usa programas a <span>temperatura moderada</span>, ya que el 90% de la energía es para calentar el agua. Una colada a 30ºC en lugar de 60ºC reduce el gasto energético a la mitad.</li>
                        <li>Si <span>utilizas al máximo la capacidad de tu lavadora y secadora</span>, reduces el consumo de energía y alargas la vida del electrodoméstico.</li>
                        <li>Si compras una lavadora nueva, elige <span>modelos eficientes y ecológicos</span> de clase A, permiten ahorrar más del 45% respecto de los de clase D.</li>
                        <li>Un <span>centrifugado de la lavadora a 1.200 revoluciones</span>, en vez de a 700, reduce el consumo de la secadora en un 20%.</li>
                        <li>Para ahorrar energía, elije <span>ordenadores e impresoras con sistemas de ahorro de energía.</span>
                        </li>
                        <li>Pon en funcionamiento <span>la lavadora y el lavavajillas</span> cuando estén a <span>carga completa</span>.</li>
                        <li>Las <span>lavadoras termoeficientes</span> reducen un 25% el tiempo de lavado y se ahorra energía.</li>
                        <li>Las <span>lavadoras con programas de media carga</span> reducen el consumo de forma apreciable.</li>
                        <li>Las <span>lavadoras con sonda de agua</span>, que miden la suciedad del agua y la cambian, reducen el consumo de agua y de energía.</li>
                        <li>Aprovecha el calor del sol para secar la ropa y ahorrarás energía.</li>
                        <li>
                            <span>Usa descalcificantes y limpia regularmente el filtro de la lavadora</span> de impurezas y cal y ahorrarás energía.</li>
                        <li>Si tienes contratada la <span>Tarifa con Discriminación Horaria</span>, pon la lavadora en las horas de descuento.</li>
                        <li>
                            <span>Aprovecha el calentamiento de la plancha</span> para planchar grandes cantidades de ropa de una vez y ahorrarás energía.</li>
                        <li>
                            <span>Optimiza el uso de sus aparatos eléctricos</span>. Por ej., si tu tostadora es de dos ranuras, ponla siempre con dos tostadas.</li>
                        <li>Para ahorrar energía, <span>apaga totalmente los televisores y los equipos</span> en ausencia superiores a 30 minutos. Los equipos ofimáticos en estado modo de baja energía consumen como máximo un 15% de lo normal.</li>
                        <li>Ahorras energía si <span>apagas la pantalla del ordenador</span> cuando no vayas a utilizarlo durante períodos cortos.</li>
                        <li>Las <span>pantallas LCD</span> ahorran un 37% de la energía en funcionamiento, y un 40% en modo de espera.</li>
                        <li>El <span>salvapantallas</span> que menos energía consume es el de color negro.</li>
                        <li>Utiliza <span>â€œladronesâ€ de conexión múltiple</span> con interruptor; al desconectar el ladrón ahorras energía.</li>
                        <li>El mantenimiento adecuado y la limpieza de los electrodomésticos prolonga su vida y ahorra energía.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>