<div class="container" style="padding-top:1em">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading text-left">
                <h3 class="panel-title">Nuestro proyecto</h3>
            </div>
            <div class="panel-body">
                <p class="lead">
                    Nuestro objetivo principal es la creación de un dispositivo que permita la recolección de parámetros de la red eléctrica de un hogar o recinto y una estructura para su almacenamiento, procesado y consulta.
                </p>
                <p>
                    Dentro de los datos tomados por el dispositivo se incluirían valores en tiempo real de voltaje y corriente eficaces, potencia activa y potencia reactiva. Las distintas muestras se enviarán mediante <i>Wi-Fi</i> al servidor para su procesado.
                </p>
                <p>
                    Una vez recibidos en el servidor se produciría el procesado que incluiría cálculos de picos de potencia, distorsión armónica, infratensión, sobretensión y detección de interrupciones en el servicio. También se controlaría el cumplimiento de alertas definidas por el usuario, por ejemplo el usuario quiere que se le avise si el pico de potencia sobrepasa cierto valor.
                </p>
                <p>
                    Tras haber calculado todos los datos, el usuario podría consultar toda la información anterior y costes estimados en forma de gráficas en una página web o aplicación móvil, pudiendo filtrar los datos por rangos temporales o dispositivos. Además según su consumo se le podría ofrecer recomendaciones de consumo.
                </p>
                <p>
                    En caso de caída del suministro el dispositivo quedará alimentado con una pequeña batería en modo de bajo consumo y se realizan una alerta mediante un SMS al dueño, ya que previsiblemente el <i>router Wi-Fi</i> quedará fuera de servicio.
                </p>
            </div>

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading text-left">
                <h3 class="panel-title">Nosotros</h3>
            </div>
            <div class="panel-body">
                <p><span class="lead">Comesaña Hermida, Sandra</span> - <i>GSM</i></p>
                <p><span class="lead">Dărău Vlad-Dragoş</span> - <i>Electrónica, Coordinador</i></p>
                <p><span class="lead">Martínez Alonso, Francisco Javier</span> - <i>Wi-Fi, Secretario</i></p>
                <p><span class="lead">Mojón Arteaga, Miguel Ángel</span> - <i>Back end, Front end web, Nexo</i></p>
                <p><span class="lead">Novoa Roca, Sheila</span> - <i>Aplicación Android</i></p>
                <p><span class="lead">Seijo Rodríguez, Carlos</span> - <i>Electrónica</i></p>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info text-center">
            <div class="panel-heading text-left">
                <h3 class="panel-title">Hardware</h3>
            </div>
            <div class="image-panel">
                <img src="assets/img/GenuinoLogo.svg" alt="Genuino" class="logo img-responsive center-block"> &nbsp;
            </div>
            <div class="image-panel">
                <img src="assets/img/GSMLogo.svg" alt="GSM" class="logo img-responsive center-block"> &nbsp;
            </div>
            <div class="image-panel">
                <img src="assets/img/WiFiLogo.svg" alt="Wi-Fi" class="logo img-responsive center-block"> &nbsp;
            </div>
            <div class="image-panel">
                <img src="assets/img/AltiumLogo.png" alt="Altium Designer" class="logo img-responsive center-block"> &nbsp;
            </div>
        </div>
        <div class="panel panel-info text-center">
            <div class="panel-heading text-left">
                <h3 class="panel-title">Software</h3>
            </div>
            <div class="image-panel">
                <img src="assets/img/MongoLogo.png" alt="MongoDB" class="logo img-responsive center-block"> &nbsp;
            </div>
            <div class="image-panel">
                <img src="assets/img/expressLogo.png" alt="express" class="logo img-responsive center-block"> &nbsp;

            </div>
            <div class="image-panel">
                <img src="assets/img/AngularLogo.png" alt="AngularJS" class="logo img-responsive center-block"> &nbsp;

            </div>
            <div class="image-panel">
                <img src="assets/img/NodeLogo.png" alt="NodeJS" class="logo img-responsive center-block"> &nbsp;

            </div>
            <div class="image-panel">
                <img src="assets/img/PassportLogo.png" alt="Passport" class="logo img-responsive center-block"> &nbsp;

            </div>
            <div class="image-panel">
                <img src="assets/img/BootstrapLogo.png" alt="Bootstrap" class="logo img-responsive center-block"> &nbsp;

            </div>
            <div class="image-panel">
                <img src="assets/img/GitLabLogo.png" alt="GitLab" class="logo img-responsive center-block"> &nbsp;

            </div>
            <div class="image-panel">
                <img src="assets/img/AndroidStudioLogo.svg" alt="Android Studio" class="logo img-responsive center-block"> &nbsp;

            </div>
        </div>
    </div>

</div>